.privacy_block {
    background: url("images/background/term_lines.svg");
    background-repeat: repeat-y;
    background-position: right -38.75rem top;
    // padding: 1.875rem;
    padding-top: 0;

    h1 {
        margin-bottom: 0;
        font-weight: 800;
        font-size: clamp(1.8rem, 3.5vw, 4rem);
        max-width: 40.813rem;
        line-height: 100.02%;
    }

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: clamp(1.5rem, 3.5vw, 2.25rem);
        text-transform: uppercase;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        font-size: clamp(1.2rem, 3.5vw, 1.75rem);
    }

    p {
        font-weight: 400;
        font-size: clamp(1.1888rem, 3.5vw, 1.200rem);
    }
}

.privacy_table_container {
    border: 1px solid #D9E2EF;
    margin-bottom: 1.25rem;
    max-width: 100%;
    // overflow-x: hidden;

    @media(max-width: 900px) {
        margin-left: 1%;
        overflow-x: scroll;
        width: 90vw;

        .privacy_table_row {
            width: 75rem;
        }
    }
}

.privacy_table_row {
    display: grid;
    grid-template-columns: 20% 20% 30% 30%;
    border-bottom: 0.120rem solid #3b3c3d;
    padding: 0.625rem;

    &_header {
        background-color: #80808033;
    }

    &_body {
        background-color: #ddd9d93d;
    }

    div {
        padding: 0.625rem;
        border-right: 0.120rem solid #3b3c3d;

        &:nth-child(4) {
            border-right: 0
        }

        &:last-child {
            border-right: 0;
        }
    }

    &:first-child {
        font-weight: 600;
        font-size: 1.125rem;
    }
}

.terms p {
    font-weight: 400;
    font-size: clamp(1rem, 3.5vw, 1.188rem);
}

.mt {
    margin-top: 1rem;
}

.mb {
    margin-bottom: 1rem;
}